.menuobject {
  background-color: white;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  display: flex;
  width: 90%;
  cursor: pointer;
  overflow: hidden;
}
.menuobject__texte {
  flex: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menuobject__texte--margin {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menuobject__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuobject__check {
  background-color: #99e2d0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 500ms;
}
.menuobject:hover .menuobject__check {
  margin-right: -1rem;
}
.menuobject__icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: 650ms;
}
.menuobject:hover .menuobject__icon {
  transform: rotate(360deg);
}
.menuobject__icon--color {
  color: #99e2d0;
}

.loader {
  position: absolute;
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: loader1 0.05s 3s both;
  z-index: 10000;
}
.loader p {
  font-family: "Shrikhand";
  font-size: 4rem;
}
.loader__1 {
  animation: loader 700ms ease-in-out 200ms infinite alternate both;
}
.loader__2 {
  animation: loader 700ms ease-in-out 300ms infinite alternate both;
}
.loader__3 {
  animation: loader 700ms ease-in-out 400ms infinite alternate both;
}
.loader__4 {
  animation: loader 700ms ease-in-out 500ms infinite alternate both;
}
.loader__5 {
  animation: loader 700ms ease-in-out 600ms infinite alternate both;
}
.loader__6 {
  animation: loader 700ms ease-in-out 700ms infinite alternate both;
}
.loader__7 {
  animation: loader 700ms ease-in-out 800ms infinite alternate both;
}
.loader__8 {
  animation: loader 700ms ease-in-out 900ms infinite alternate both;
}
.loader__barre {
  width: 22rem;
  height: 0.5rem;
  background-color: black;
  position: absolute;
  bottom: 40%;
  animation: barre 3s;
  transform: scaleX(0);
}

.deplacement {
  animation: deplacement 1s 3s backwards;
}

.deplacement1 {
  animation: deplacement 1s 3.5s backwards;
}

.deplacement2 {
  animation: deplacement 1s 4s backwards;
}

@keyframes barre {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
@keyframes loader {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes loader1 {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes deplacement {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes heart {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  65% {
    transform: scale(1.25);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}
.header {
  display: flex;
  flex-direction: column;
}
.header__logo {
  display: flex;
  justify-content: center;
  padding: 0.5rem;
}
.header__location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: #353535;
  font-weight: bold;
  box-shadow: inset 0px 4px 4px -2px rgba(0, 0, 0, 0.2);
}
.header__location--texte {
  margin-left: 1rem;
}
.header__explorer {
  background-color: #f6f6f6;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.header__explorer h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
.header__explorer p {
  font-size: 1.1rem;
  margin-bottom: 1.7rem;
  color: #4d4d4d;
}
.header__explorer button {
  padding: 1rem;
  border-radius: 2rem;
  border: none;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
  font-size: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.2);
}
.header__explorer button:hover {
  transform: scale(1.03);
  transition: 500ms;
}

.nav {
  margin-top: 3rem;
  font-weight: bold;
}
.nav__titre {
  margin-left: 1.2rem;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}
.nav ul {
  padding-left: 0.5rem;
  margin-bottom: 4rem;
}
.nav__list {
  display: flex;
  align-items: center;
  position: relative;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
  padding-right: 0;
  width: 80%;
  border-radius: 1rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}
.nav__list--number {
  background-color: #9356dc;
  position: absolute;
  left: -1rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.nav__list--icone {
  margin-right: 2rem;
  margin-left: 1rem;
  font-size: 1.3rem;
  color: #7e7e7e;
}
.nav__list:hover {
  background-color: #f5edff;
}
.nav__list:hover .nav__list--icone {
  color: #9356dc;
}

.restaurant {
  background-color: #f6f6f6;
  padding: 1rem;
}
.restaurant__titre {
  margin-left: 0.2rem;
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  font-size: 1.4rem;
}
.restaurant__card {
  width: 100%;
  padding: 0;
  border-radius: 15px;
  box-shadow: 0px 5px 30px -1px rgba(0, 0, 0, 0.38);
  margin-bottom: 2rem;
}
.restaurant__card img {
  width: 100%;
  height: 10rem;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurant__description {
  padding: 0.8rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.restaurant__icone {
  font-size: 1.5rem;
}
.restaurant__icone--heart {
  position: absolute;
  right: 1rem;
}
.restaurant__icone--heart1 {
  position: absolute;
  right: 1rem;
  opacity: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356dc), to(#ff79da));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant__icone--heart1:hover {
  animation: heart 500ms both;
}
.restaurant__icone--heart1:before {
  color: linear-gradient(0deg, #9356dc, #ff79da);
}

body {
  margin: 0;
  font-family: "roboto";
}

h1 {
  font-family: "Shrikhand";
  margin: 0;
}

h2, h3, h4, p {
  margin: 0;
}

@font-face {
  font-family: "roboto";
  src: url(../font/roboto.ttf);
}
@font-face {
  font-family: "Shrikhand";
  src: url(../font/Shrikhand.ttf);
}

/*# sourceMappingURL=index.css.map */
