@import "variable.scss";

.menuobject {
  background-color: white;
  padding: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-radius: 0.75rem;
  display: flex;
  width: 90%;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
  &__texte {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    &--margin {
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
  &__price {
    font-weight: bold;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-left: 0.5rem;
  }
  &__check {
    background-color: $color-tertiary;
    margin: -1rem -5rem -1rem 1rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 500ms;
  }
  &:hover &__check {
    margin-right: -1rem;
  }

  &__icon {
    height: 1.6rem;
    width: 1.6rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transition: 650ms;
  }

  &:hover &__icon {
    transform: rotate(360deg);
  }

  &__icon--color {
    color: $color-tertiary;
  }
  & p {
    font-size: 0.95rem;
  }
}

.loader {
  position: fixed;
  display: flex;
  background-color: white;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  animation: loader1 0.05s 3s both;
  z-index: 10000;
  & p {
    font-family: "Shrikhand";
    font-size: 4rem;
  }
  &__1 {
    animation: loader 700ms ease-in-out 200ms infinite alternate both;
  }
  &__2 {
    animation: loader 700ms ease-in-out 300ms infinite alternate both;
  }
  &__3 {
    animation: loader 700ms ease-in-out 400ms infinite alternate both;
  }
  &__4 {
    animation: loader 700ms ease-in-out 500ms infinite alternate both;
  }
  &__5 {
    animation: loader 700ms ease-in-out 600ms infinite alternate both;
  }
  &__6 {
    animation: loader 700ms ease-in-out 700ms infinite alternate both;
  }
  &__7 {
    animation: loader 700ms ease-in-out 800ms infinite alternate both;
  }
  &__8 {
    animation: loader 700ms ease-in-out 900ms infinite alternate both;
  }
  &__barre {
    width: 22rem;
    height: 0.5rem;
    background-color: black;
    position: absolute;
    bottom: 40%;
    animation: barre 3s;
    transform: scaleX(0);
  }
}



.deplacement {
  animation: deplacement 0.7s 0.5s backwards;
}

.deplacement1 {
  animation: deplacement 0.7s 1s backwards;
}

.deplacement2 {
  animation: deplacement 0.7s 1.5s backwards;
}
.deplacement3 {
  animation: deplacement 0.7s 2s backwards;
}

.deplacement4 {
  animation: deplacement 0.7s 2.5s backwards;
}

.deplacement5 {
  animation: deplacement 0.7s 3s backwards;
}
.deplacement6 {
  animation: deplacement 0.7s 3.5s backwards;
}

.deplacement7 {
  animation: deplacement 0.7s 4s backwards;
}

.deplacement8 {
  animation: deplacement 0.7s 4.5s backwards;
}

.deplacement9 {
  animation: deplacement 0.7s 5s backwards;
}

.deplacement10 {
  animation: deplacement 0.7s 5.5s backwards;
}

@keyframes barre {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes loader {
  0% {
    transform: translateY(1rem);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes loader1 {
  100% {
    opacity: 0;
    z-index: -10;
  }
}

@keyframes deplacement {
  from {
    opacity: 0;
    transform: translateY(4rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes heart {
  0% {
      transform: scale(0);
      opacity: 1;
  }
  65% {
      transform: scale(1.30);
      opacity: 1;
  }
  100% {
      transform: scale(1.10);
      opacity: 1;
  }
}