
@import "animation.scss";
@import "index_headnav.scss";
@import "index_mainfooter.scss";
@import "menupage.scss";
@import "variable.scss";
body {
  margin: 0;
  font-family: "roboto";
}

h1 {
  font-family: "Shrikhand";
  margin: 0;
}

h2, h3, h4, p {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

@font-face {
  font-family: "roboto";
  src: url(../font/roboto.ttf);
}

@font-face {
  font-family: "Shrikhand";
  src: url(../font/Shrikhand.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');



