
$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$color-background: #f6f6f6;
$color-bold: #353535;
$color-degrade: linear-gradient($color-secondary, $color-primary);

@mixin desktop {
    @media screen and (min-width: 768px) {
        @content;
    }
}
